:root{
  --white: hsl(0, 0%, 100%);
  --ligth-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: var(--ligth-gray);
  font-size: 15px;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > div{
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
  text-align: center;
  border-radius: 20px;
}

img{
  margin: 20px auto;
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

h2{
  margin: 0 20px 20px 20px;
  color: var(--dark-blue);
}

p{
  margin: 0 30px 20px 30px;
  color: var(--)
}

.attribution {
  position: absolute;
  left: 50%;
  top: calc(100% - 30px);
}